sphinx
pytest
coverage
flake8
pylint
pydocstringformatter
dataretrieval @ git+https://github.com/DOI-USGS/dataretrieval-python.git
matplotlib
folium
mapclassify
pynhd
datetime
tqdm
pydeps==1.12.3
nbsphinx
nbsphinx_link
sphinx-rtd-theme
ipykernel
jupyter
